<% if @results.where("recordings.theme_id = ?", theme_id).present? %>
  <div class="d-flex justify-content-between">
    <span class="h5"><%= Theme.find(theme_id).title %></span>
  </div>

  <table class="table styled-table text-nowrap mb-4">
    <thead class="thead-light main-color">
      <tr>
        <th><%= t('.frequency') %></th>
        <th><%= Result.human_attribute_name(:filler_count) %></th>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= t('.recording_date') %></th>
      </tr>
    </thead>
    <tbody id="result-table-body">
      <% @results.where("recordings.theme_id = ?", theme_id).sort_by{ |result| result.filler_interval }.reverse.each do |result| %>
        <tr>
          <td><%= result.filler_interval_text %></td>
          <td><%= result.filler_count %></td>
          <td><%= result.recording.user[:name] %></td>
          <td class="created_at"><%= I18n.l(result.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
