<%= form_with model: @recording, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group col-5">
    <%= f.fields_for :theme do |ft| %>
      <div class="form-group">
        <%= ft.collection_select :title, @themes, :title, :title, {prompt: "#{t('defaults.choose_theme_or_upload')}"}, {class: "form-select"} %>
      </div>
    <% end %>
    <div class="display-nonexx">
      <%= f.label :voice %>
      <%= f.text_field :voice, class: 'form-control' %>
      <%= f.label :text %>
      <%= f.text_area :text, class: 'form-control' %>
      <%= f.label :length %>
      <%= f.text_field :length, class: 'form-control' %>
    </div>
      <%= f.label :audio %>
      <%= f.file_field :audio, class: 'form-control' %>
  </div>
  <div class="buttons mt-3">
    <div id="start-recording" class="btn btn-outline-danger btn-circle" >
      <%= t('defaults.start_recording') %>
    </div>
    <div id="stop-recording" class="btn btn-primary btn-circle display-none" >
      <%= t('defaults.stop_recording') %>
    </div>
    <div id="in-progress" class="btn btn-outline-danger btn-circle display-none " >
      <%= t('defaults.in_progress') %>
    </div>
    <%= f.submit t('defaults.show_result'), class: 'btn btn-success btn-circle display-none', id: 'show-result' %>
    <%= link_to t('defaults.restart_recording'), new_recording_path, class: "btn btn-dark btn-circle ms-1" %>
  </div>
<% end %>