<% content_for(:title, t('.title')) %>
<div class="container mt-5 d-flex flex-column align-items-center">

  <p class="h2"><%= t('.result') %></p>
  <%# <p class="h4 mt-3">あなたのフィラー癖は</p> %>

  <div class="d-flex justify-content-center mt-3">
    <div class="card text-center col-5 h4 me-3">
      <div class="card-header main-color">
        <%= Result.human_attribute_name(:filler_count) %>
      </div>
      <div class="card-body pt-5 pb-5">
        <p><%= "#{t('defaults.sum')} #{@result.filler_count} #{t('defaults.count')}" %></p>
        <p class="h6"><%= "（#{(@result.recording[:length]/@result.filler_count.to_f).round(1)}#{t('defaults.per_count')}）" %></p>
      </div>
    </div>
    <div class="card text-center col-5 h4">
      <div class="card-header main-color">
        <%= t('.most_frequent_filler') %>
      </div>
      <div class="card-body pt-5 pb-5">
        <p><%= "「#{@result.most_frequent_filler.gsub('%','')}」" %></p>
      </div>
    </div>
  </div>
  <div>
    <%= audio_tag(url_for(@recording.audio), controls: true) %>
  </div>

  <p class="h2 mt-5 mb-3"><%= t('defaults.how_to_speak_smoothly') %></p>
  <div class="d-flex flex-column col-12 col-lg-6">
    <div class="card">
      <div class="card-header sub-color h5">
        <%= t('techniques.accept_silence.heading') %>
      </div>
      <p class="m-1"><%= t('techniques.accept_silence.description') %></p>
    </div>
    <div class="card mt-3">
      <div class="card-header sub-color h5">
        <%= t('techniques.prepare_speech.heading') %>
      </div>
      <p class="m-1"><%= t('techniques.prepare_speech.description') %></p>
    </div>
    <div class="card mt-3">
      <div class="card-header sub-color h5">
        <%= t('techniques.be_used.heading') %>
      </div>
      <p class="m-1"><%= t('techniques.be_used.description') %></p>
    </div>
  </div>

  <%= link_to t('.to_my_results'), results_path, class: 'btn btn-warning col-4 mt-5' %>
</div>
